<a href="https://colab.research.google.com/github/Darielle-Angela-Valero/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [ ]:
if 5 > 2:
  print("5 > 2")

5 > 2

Python Comment

In [ ]:
#This is a comment
print("Hello, World!")

Hello, World!

Python Variable

In [ ]:
x = 1

#single variable with multiple values
array = [ 1,2,3]
print (array)

#multiple variables with single value

a = b = c = "Maria"
print(a)
print(b)
print(c)

[1, 2, 3]
Maria
Maria
Maria

Casting

In [ ]:
n = int(4)
print("n")

n

Type Function

In [ ]:
c = "sally"
d = 5.6
print(type(c))
print (type(d))

<class 'str'>
<class 'float'>

"Double Quotes" or 'Single Quotes'

In [2]:
y = "John"
y = 'John'

Case Sensitive

In [4]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple Variables

In [3]:
x, y, z = "one","two","three"
print(x)
print(y)
print(z)

one
two
three

Other Way

In [6]:
x = "Python is"
y = " enjoying"
z = x + y
print(z)

Python is enjoying

Arithmetic Operations Examples

In [9]:
x = 5
y = 3
print(x + y)

x = 5
y = 3
sum = x + y

8

Logical Operators

In [10]:
a,b,c = 0, -1, 6
a > b 
c > b

True

Identity Operators

In [11]:
a,b,c = 0,-1, 5
a is c

False