<a href="https://colab.research.google.com/github/Darielle-Angela-Valero/OOP-58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [1]:
week =["Sunday", "Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [15]:
week =["Sunday", "Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [16]:
week =["Sunday", "Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    print(x) #It only displays thursday
    break

Thursday

In [18]:
week =["Sunday", "Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x) #it displays sunday to wednesday

Sunday
Monday
Tuesday
Wednesday

In [21]:
#To display only Tuesday and Wednesday using break statement
week =["Sunday", "Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Tuesday":
    print(x)
  if x == "Wednesday":
    print(x)
    break

Tuesday
Wednesday

Looping through a string

In [23]:
for x in "daryel":
  print(x)

d
a
r
y
e
l

Nested Loops

In [24]:
adjective= ["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [31]:
i = 1
while i<=6:
  print(i)
  i+=1

1
2
3
4
5
6

In [34]:
i = 1
while i<6:
  print(i)
  if 1==3:
   break
  i+=1

1
2
3
4
5

In [45]:
#using break statement
i = 1
while i<6:
  if i==3:
    print(i)
    break
  i+=1

3

In [43]:
i = 1
while i<6:
  print(i)
  if i==3: #shows only 1 to 3
   break
  i+=1

1
2
3

In [44]:
#The else statement
i = 1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [56]:
hello = ["Hello"]
y=["0", "1","2","3","4","5","6","7","8","9","10"]
for x in hello:
  for y in y:
  print(x,y)

IndentationError: ignored

Application 2

In [53]:
i = 3
while i<10:
  print(i)
  i+=1
else:
  print("i is less than 10 but not 3")

3
4
5
6
7
8
9
i is less than 10 but not 3