<a href="https://colab.research.google.com/github/Darielle-Angela-Valero/OOP-58001/blob/main/Operations_and_Expressions_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [1]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

Bool()function

In [6]:
print(bool("Maria"))
print(bool("1"))
print(bool(0))
print(bool(None))
print(bool(True))
print(bool(False))

True
True
False
False
True
False

Function can return a Boolean

In [14]:
def myFunction():
  return True
  print(myFunction())

In [17]:
def myFunction():
  return True

if myFunction():
  print("Yes!")
else:  
  print("No!")

Yes!

In [19]:
print(10>9)
a = 6
b = 7
print(a==b)
print(b==a)

True
False
False

Python Operators

In [20]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//3)
print(10**2)

15
5
50
2.0
0
3
100

Python Bitwise Operators

In [21]:
a = 60
b = 13

a>>1

30

Python Assignment Operators

In [28]:
x = 5
x+=3 #same as x = x + 3
x-=3 #same as x = x -3
x*=3 #same as x = x * 3
x/=3 #same as x = x/3
x%=3 #same as x = x % 3
print(x)

2.0

Logical Operators

In [29]:
a = True
b = False 

print(not a)
print( a and b)

False
False

Identity Operators

In [32]:
a = True
b = False

print(a is a)
a is not b

True

True

In [33]:
a = True
b = False
print(not(a and b))

True